@import url(//fonts.googleapis.com/css?family=Oleo+Script);
@import url(//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(//fonts.googleapis.com/css?family=Nova+Mono:400,700,400italic);

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
	font-family: 'Oleo Script';
	font-weight: normal;
}
.remark-code, .remark-inline-code {
	font-family: 'Nova Mono';
}
.remark-slide-content h1{
	font-size: 48px;
  font-weight: bold;
}

.remark-slide-content h2 {
  font-size: 36px;
}

.section-heading {
  background-color: indigo;
  color: white;
