@import url(//fonts.googleapis.com/css?family=Questrial|Droid+Serif:400,700,400italic|Source+Code+Pro:400,700,400italic);

.section-heading {
  background-color: indigo;
  color: white;
}

body { font-family: 'Droid Serif'; }

h1, h2, h3 {
	font-family: 'Questrial';
	font-weight: normal;
}
.remark-code, .remark-inline-code {
	font-family: 'Source Code Pro';
}
.remark-slide-content h1{
	font-size: 48px;
  font-weight: bold;
}

.remark-slide-content h2 {
  font-size: 36px;
}

